.square {
  width: 100%;
  height: 100%;
  background: white;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  -webkit-box-shadow: 0 16px 12px -12px black;
  -moz-box-shadow: 0 16px 12px -12px black;
  box-shadow: 0 16px 12px -12px black;
}

@media screen and (max-width: 100px) {
  .square {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

/* .css file for object properties */
