.h1 {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0 20px;
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(#7117ea, #ea6060);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
  margin-top: auto;
}

.h2 {
  justify-content: space-between;
  align-items: left;
  padding: 0 20px;
  font-size: 80px;
  font-weight: 700;
  color: black;
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .h2 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
